<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">

</head>
<body>
<nav class="nav justify-content-end">
    <button type="button" class="btn btn-light">
        <a class="nav-link" href="/login">Login</a>
    </button>
</nav>
<div align="center">
    <h1>Games</h1>
    <a href="/new">Enter New Sale</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${list}">
            <td th:text="${game.gameName}">Name</td>
            <td th:text="${game.genre}">Genre</td>
            <td th:text="${game.score}">Name</td>
            <td th:text="${game.rDate}">Genre</td>
            <td th:text="${game.dev}">Name</td>
            <td th:text="${game.pub}">Genre</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

